@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --color-bg-dark: #0f172a;
  --color-surface-dark: #1e293b;
  --color-text-light: #f8fafc;
  --color-text-muted: #94a3b8;
  
  --font-sans: "Inter", system-ui, sans-serif;
}

:root {
  background-color: var(--color-bg-dark);
  color: var(--color-text-light);
  color-scheme: dark;
}

@layer base {
  body {
    @apply antialiased bg-slate-900 text-slate-50 min-h-screen selection:bg-indigo-500/30;
  }
}
